.container {
    padding: 0 50px;
  }
  .card {
    display: inline-block;
    width: 20%;
    margin: 15px;
  }
  
  .card:hover {
    margin: 0.1px;
    box-shadow:2px 1px 4px 0px slateblue ;
    transition: 0.5s;
  }
  